<div class="main-container">
  <header class="header-6">
    <div class="branding">
      <a href="#" class="nav-link">
        <clr-icon shape="note"></clr-icon>
        <span class="title">Todo App</span>
      </a>
    </div>

    <div class="header-nav">
      <a *ngIf="auth.isLoggedIn" routerLink="/tasks" class="active nav-link nav-text">Dashboard</a>
    </div>

    <div class="header-actions">
      <button *ngIf="!auth.isLoggedIn" (click)="auth.login()" type="button" class="btn btn-icon btn-primary">
        <clr-icon shape="login"></clr-icon>
      </button>

      <button *ngIf="auth.isLoggedIn" (click)="auth.logout()" type="button" class="btn btn-icon btn-warning">
        <clr-icon shape="logout"></clr-icon>
      </button>
    </div>
  </header>

    <router-outlet></router-outlet>
</div>
