<div class="content-container">
  <div class="content-area">
    <div class="clr-row clr-align-items-end clr-justify-content-between">
      <div class="ctr-col-10">
        <h2>My Tasks</h2>
      </div>
      <div class="ctr-col-2">
        <button (click)="creationMode = true" type="button" class="btn btn-icon" aria-label="create">
          <clr-icon shape="plus"></clr-icon>
          Create
        </button>
      </div>
    </div>


    <div class="clr-row">
      <div *ngFor="let task of tasks$ | async" class="clr-col-lg-4 clr-col-md-6 clr-col-12">
        <div class="card">
          <div class="card-header">
            {{ task.title}}
          </div>
          <div class="card-block">
            <div class="card-text">
              {{ task.content }}
            </div>
          </div>
          <div class="card-footer">
            <button (click)="switchToEditMode(task)" class="btn btn-sm btn-info-outline">Edit
            </button>
            <button (click)="current_task = task; removeMode = true" class="btn btn-sm btn-warning-outline">Remove
            </button>
          </div>
        </div>
      </div>
    </div>

    <!--    MODALS   -->

    <clr-modal [(clrModalOpen)]="creationMode">
      <h3 class="modal-title">Create new task</h3>
      <div class="modal-body">
        <form clrForm [formGroup]="task_form" (ngSubmit)="onSubmit()">
          <clr-input-container>
            <label class="clr-sr-only">Title</label>
            <input clrInput type="text" formControlName="title" placeholder="Title"/>
            <clr-control-error *clrIfError="required">Title required!</clr-control-error>
          </clr-input-container>
          <clr-textarea-container>
            <label class="clr-sr-only">Content</label>
            <textarea clrTextarea rows="3" formControlName="content" placeholder="Content"></textarea>
            <clr-control-error *clrIfError="required">Content required!</clr-control-error>
          </clr-textarea-container>
          <button type="submit" class="btn btn-primary" [disabled]="task_form.invalid">Add Task</button>
        </form>
      </div>
    </clr-modal>

    <clr-modal [(clrModalOpen)]="editMode">
      <h3 class="modal-title">Edit task</h3>
      <div class="modal-body">
        <form *ngIf="edited_task" clrForm #f=ngForm (ngSubmit)="updateTask(edited_task)">
          <clr-input-container>
            <label>Title</label>
            <input clrInput #title="ngModel" type="text" name="title" [(ngModel)]="edited_task.title" required/>
            <clr-control-error *clrIfError="required">Title required!</clr-control-error>
          </clr-input-container>
          <clr-textarea-container>
            <label>Content</label>
            <textarea clrTextarea rows="3" #content="ngModel" type="text" name="content"
                      [(ngModel)]="edited_task.content" required></textarea>
            <clr-control-error *clrIfError="required">Content required!</clr-control-error>
          </clr-textarea-container>
          <clr-input-container>
            <label>Due Data</label>
            <input clrInput #due_date="ngModel" type="text" name="due_data" [(ngModel)]="edited_task.due_date" required>
          </clr-input-container>
          <button (click)="editMode = false" type="button" class="btn btn-info-outline">Cancel</button>
          <button type="submit" class="btn btn-danger" [disabled]="f.form.invalid">Edit Task</button>
        </form>

      </div>
    </clr-modal>

    <clr-modal [(clrModalOpen)]="removeMode">
      <h3 class="modal-title">Are you sure you want to remove this task</h3>
      <div class="modal-body">
        <p>This action cannot be undone!</p>
      </div>
      <div class="modal-footer">
        <button (click)="removeMode = false" type="button" class="btn btn-info-outline">Cancel</button>
        <button (click)="deleteTask(current_task.id)" type="button" class="btn btn-danger">Remove</button>
      </div>
    </clr-modal>


  </div>
</div>
